@media (min-width: 789px) {
  .news-input {
    width: 50%;
  }
}
#map {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.card {
  height: 100%;
}
body::before {
  display: block;
  content: "";
  height: 60px;
}
